/* Time to style that page*/


body{
    scrollbar-width: auto;
    background-color: rgb(240, 239, 239);
}

h1 {
    width: 845px;
    height: 110px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
    text-transform: capitalize;
    font-family: "Open Sans";

}

h2 {
    text-transform: uppercase;
    text-align: left;
    font-family: "Open Sans";
    color: black;
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding: 22px;
    justify-content: center;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    padding: 22px;
    justify-content: center;
}

.boxmodel {
    width: 387px;;
    height: 225px;
    padding: 22px;
    gap: 28px;
    background-color: rgb(255, 255, 255) ;
    border-color: rgb(255, 255, 255);
}

p {
    width: 343px;
    height: 130px;
    size: 17px;
    line height: 26px;
    text-align: left;
    font-family: "Open Sans";
}

